* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
}
section {
  width: 70%;
  margin: 0 auto;
}
section .box {
  margin: 25px 0;
}
section .box h2 {
 color: #333; 
}
section .box input {
  border: none;
  padding: 10px 15px;
  background-color: rgb(11, 190, 163);
  border-radius: 5px;
  width: 100%;
  margin: 20px 0;
  color: #fff;
}
section .box input::placeholder {
  color: #fff;
}
section .box h3 {
  color: rgb(13, 177, 180);
  text-align: center;
}
section .box .articles article {
  font-size: 15px;
  border-radius: 5px;
  margin: 20px 0;
  background-color: #eee;
  padding: 10px 15px;
}
section .box .articles article a {
  text-decoration: none;
  color: #333;
}